
<a href="<%= category_deals_path(category) %>">
<div id="<%= dom_id category %>">

  <div class="category-card">
      <%= image_tag category.icon, class: "category-icon"%>
      <div class="category-info pt-1">
        <span><%= category.name %></span>
        <span class="text-sm text-gray"><%= category.created_at.strftime("%d %B %Y") %></span>
      </div>
    <p class="pt-0">
      <strong>$ 
      <%= category.deals.sum(:amount) %>
      </strong>
    </p>
  </div>

</div>
</a>
