
<a href="<%= category_deals_path(category) %>">
<div id="<%= dom_id category %>">

  <div class="category-card">
      <%= image_tag category.icon, class: "category-icon"%>
      <%= category.name %>
    <p>
      <strong>Total: </strong>$ 
      <%= category.deals.sum(:amount) %>
    </p>
  </div>

</div>
</a>
